[submodule "nvim"]
	path = nvim
	url = git@github.com:Mccranky83/nvim-configs.git
[submodule "spicetify"]
	path = spicetify
	url = https://github.com/Mccranky83/spicetify-configs.git
[submodule "zsh-configs"]
	path = zsh
	url = git@github.com:Mccranky83/zsh-configs.git
[submodule "btop"]
	path = btop
	url = git@github.com:Mccranky83/btop.git
